[Unit]
Wants=network-online.target
Before=remote-fs.target

[Mount]
What=192.168.0.2:/ennorath/gondolin/single
Where=/ennorath/gondolin/single
Type=nfs
Options=rw,hard,intr

[Install]
WantedBy=multi-user.target
