[submodule "git"]
	path = git
	url = git@github.com:git/git.git
[submodule "openssh"]
	path = openssh
	url = git://anongit.mindrot.org/openssh.git
[submodule "expat-git"]
	path = expat-git
	url = git://git.code.sf.net/p/expat/code_git
